{% extends 'layout.twig' %}
{% block header %}
    {% include 'header.twig' %}
{% endblock %}

{% block body %}
    <section id="profil">
        <header class="profil-head">
            <img src="/img/{{ user.picture_path }}" alt="">
            <div>
                <p>Maitre</p>
                <p>{{ user.pseudo }}</p>
            </div>
        </header>
        <div class="profil-infos">
            <p>Nom :</p>
            <p>{{ user.lastname }}</p>
        </div>
        <div class="profil-infos">
            <p>Prénom :</p>
            <p>{{ user.firstname }}</p>
        </div>
        <div class="profil-infos">
            <p>Email :</p>
            <p>{{ user.email }}</p>
        </div>
        <div class="definition-bloc">
            <header>
                <span id="val" class="active">Définitions validées</span>
                <span id="unval">Définitions non validées</span>
            </header>
            <div class="definition-cont">
                {% for definition in definitions %}
                    <a href="/definition?q={{ definition.id }}" class="definition">
                        <img src="/img/{{ definition.picture }}" alt="">
                        <p>{{ definition.title }}</p>
                        <p>{{ definition.name }}</p>
                    </a>
                {% endfor %}
            </div>
            <button type="submit"><img src="/img/arrow.png" alt="flèche"></button>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        document.querySelector('#val').addEventListener('click', function () {
            if (this.getAttribute('class') == 'active')
                return
            document.querySelector('#unval').classList.remove('active')
            this.classList.add('active')
        })
        document.querySelector('#unval').addEventListener('click', function () {
            if (this.getAttribute('class') == 'active')
                return
            document.querySelector('#val').classList.remove('active')
            this.classList.add('active')
        })
    </script>
{% endblock %}